# Node.js dependencies
node_modules/

# Environment files
.env
.env.local

# IDE-specific files
.idea/
.vscode/

# Temporary and cache files
*.swp
*.swo
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Build files and generated directories (for both client and server)
dist/
build/
coverage/

# Uploads or temporary files created by the application
uploads/
temp/

# Log files
*.log

# Sensitive information (e.g., private keys, certificates)
*.pem
*.key
*.crt